@charset "utf-8";
/* Global CSS Styles */

/@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
/* font-family: 'Open Sans', 'sans-serif'; */

*{   
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}
html, body{
	height:100%;
	margin:0;
	padding:0;	
}
body {
	letter-spacing: 0.2em;
	font-weight: 100;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	text-transform: uppercase;
	color: #fff;
	background-color: #0071bc;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

/*--- MOBILE STYLES (DEFAULT) ---*/

.logotype{
	color: #fff;
	font-size: 1.75em;
	letter-spacing: 0px;
	font-weight: 400;
	text-decoration: none;
	margin: 30px 0 0;
	position: fixed;
	left: 30px;
	top: 0;
}
.logotype:link,
.logotype:hover,
.logotype:visited,
.logotype:active {
	color:white;
	text-decoration: none;
}

/* Navbar */

.mobilenav {
    font-family: inherit;
	text-align:center;
    display: none;
    position: fixed;
    top: 0;
    right:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
	z-index:999;
	margin-top:0;
}
.mobilenav li:first-child {
	margin-top:90px;
}
.mobilenav li {
	list-style-type: none;
    padding: 12px;
}
.mobilenav li a {
    font-size: 160%;
    font-weight: 300;
	text-decoration: none;
	color: white;
	margin-left:-30px;
}
.mobilenav li a:hover {
	color:#38C6C6;
}

/* Menu Icon */

.top-animate {
	background: #38C6C6 !important;
	top: 13px !important;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.mid-animate {
	opacity: 0;
}
.bottom-animate {
	background: #38C6C6 !important;
	top: 13px !important;
	-webkit-transform: rotate(-225deg);
	transform: rotate(-225deg);
}
.top-menu {
	top: 8px;
	width: 25px;
	height: 2px;
	border-radius: 10px;
	background-color: #fff;
}
.mid-menu {
	top: 16px;
	width: 25px;
	height: 2px;
	border-radius: 10px;
	background-color: #fff;
}
.bottom-menu {
	top: 24px;
	width: 25px;
	height: 2px;
	border-radius: 10px;
	background-color: #fff;
}
.menui {
	background: #fff;
	transition: 0.6s ease;
	transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
	margin-top: 0px;
	margin-right:15px;
	position: absolute;
}
.icon {
	z-index: 999;
	position: fixed;
	display: block;
	padding: 0px;
	height: 32px;
	width:25px;
	top: 23px;
	right: 24px;
	background-color:rgba(0, 0, 0, 0);
	
}

/*--- TABLET SIZE (768px+) ---*/

@media (min-width:768px){
	
}

/*--- DESKTOP SIZE (1024px+) ---*/

@media (min-width:1024px){
	.icon{
		display:none;
	}
	.logotype{
		left: 30px;
		right:auto;
		margin: 40px 0 0;
	}
	.mobilenav {
		display:block;
		left:auto;
		right:0;
		width: 80%;
		height:100px;
		margin: 40px 0;
		text-align:right;
   		background: rgba(0, 0, 0, 0);
	}
	.mobilenav li{
		display:inline;
		width: 19%;
    	padding: 30px;
	}
	.mobilenav li a{
    	font-size: 1em;
		font-weight:100;
		margin-left:0;
	}
}

/* Mobile menu based on the Hamburgler menu widget by John Morris */
/* © 2015, John Morris http://johnm.io/project/hamburgler/ */

/* PAGES ANIMATIONS
============================================================================= */

/* make our pages be full width and full height */
/* positioned absolutely so that the pages can overlap each other as they enter and leave */
.page        {
    bottom:0; 
    padding-top:200px;
    position:absolute; 
    top:100px;  
    width:100%; 
}
/*
.page h1    { font-size:60px; }
.page a     { margin-top:50px; }*/

/* PAGES (specific colors for each page)
============================================================================= */
.page-home      { background:rgba(255,255,255,0); }
.page-blog      { background:rgba(255,255,255,1.0); }
.page-social    { background:rgba(255,255,255,0); }
.page-contact   { background:rgba(255,255,255,0); }

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    from    { opacity: 0.6; -webkit-transform: translateX(0);  transform: translateX(0);}
    to      { opacity: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}
@keyframes fadeOut {
    to    { opacity: 0; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform: translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

.ng-enter   { animation: scaleUp 0.5s both ease-in; z-index: 8888; }
.ng-leave   { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }
