
        <!-- Branding -->
        <a href="/" class="logotype">Dan Carr</a>
        <!-- Navigation -->
        <ul class="mobilenav">
            <li ng-repeat="item in navitems">
                <a href="{{item.href}}" ng-click="closeMenu()">{{item.name}}</a>
            </li>
        </ul>
        <!-- Menu Icon (Mobile) -->
        <a href="javascript:void(0)" class="icon">
            <div class="hamburger">
                <div class="menui top-menu"></div>
                <div class="menui mid-menu"></div>
                <div class="menui bottom-menu"></div>
            </div>
    	</a>